*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *behavior: url(../js/boxsizing.htc);
 }
//  .clearfix {
// 	@include clearfix;
// }
// *

// ======Breakpoints

.container{
	margin:0 auto;
	width: 95%;
	max-width: 60em;
}

.clearfix {
	&:after {
    content: "";
    display: table;
    clear: both;
	*zoom: 1;
	}
}

 @mixin breakpoint($point) {
  @if $point == grandpa-bear {
    @media (min-width: 64em) { @content; } // = 1100px
  }
  @if $point == papa-bear {
    @media (min-width: 60em) { @content; } // = 900px
  }
  @else if $point == mama-bear{
    @media (min-width: 56.25em)  { @content; } //= 750px
  }
   @else if $point == cousin-bear{
    @media (min-width: 43.75em)  { @content; } //= 700px
  }
  @else if $point == sister-bear{
    @media (min-width: 38em)  { @content; } //= 480px
  }
  @else if $point == baby-bear{
    @media (min-width: 30em)  { @content; } //= 480px
  }
  @else if $point == little-bear{
    @media (min-width: 25em)  { @content; } //= 400px
  }
}