$grey: #999;
$green: #abd69d;

.clearfix {
	&:after {
    content: "";
    display: table;
    clear: both;
	*zoom: 1;
	}
}
.masthead {
	padding-bottom:.5rem;
}
.logo {
	width: auto;
	margin: .5em auto 0 auto;
	text-align: center;
	display: inherit;
	width: 5.5em;
  @include breakpoint(baby-bear){
    width: initial;
  }
}
.page {
	h1 {
		margin: 0 0 1em 0;
	}
}
.process-page {
	h1 {
		color: $grey;
		margin-top: 0;
	}
	h2, h3 {
		color: $green;
	}
	ul {
		margin: 0 auto;
		padding-left: 0;
		li {
			display: inline-block;
			vertical-align: top;
			width: 25%;
			margin-right: -.3em;
			// margin: 0 auto;
		}
		p {
			display: block;
			margin: 0 auto;
		}
	}
	a {
		color: $green;
	}
	figure {
		float: right;
		margin: 0;
		display: inline-block;
		vertical-align: top;
		margin-right: -.3em;
		width: 50%;
	}
	img {
		max-width: 100%;
		border-radius: 0;
		margin: 0 auto;
	}
	// figure {
	// 	float: right;
	// 	margin: 0;
	// }
	figcaption {
		font-size: .75rem;
		text-align: center;
		// max-width: 70%;
	}
}

