footer {
	p {
		float: right;
		padding: 1.7em 0 0 1em;
		font-size: .75em;
		font-weight: 600;
		font-family: "Open Sans";
		color: #777;
	}
}
.social-icon {

	@include breakpoint(baby-bear){margin: 1em;}
	float: left;
	display: inline;
	width: 2em;
	height: 1.75em;
	margin: 1em .4em;
	background: url(/assets/images/icons.svg) no-repeat;
	// &:hover{
	// 	-moz-opacity: .6;
	// 	opacity: .6;
	// 	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"
	// }
	&:active{
		-moz-opacity: .9;
		opacity: .9;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"
	}
}

.twitter  {background-position: 0% 0.448%;}
.linkedin {background-position: 47.368% -0.323%;}