* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
$bodyColor: #777;
$bodyDark: #666;
$green: #abd69d;

body {
  color: $bodyColor;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}


/* No `:visited` state is required by default (browsers will use `a`) */
 @mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (min-width: 60em) { @content; } // = 900px
  }
  @else if $point == mama-bear{
    @media (min-width: 56.25em)  { @content; } //= 750px
  }
   @else if $point == cousin-bear{
    @media (min-width: 43.75em)  { @content; } //= 700px
  }
  @else if $point == sister-bear{
    @media (min-width: 38em)  { @content; } //= 480px
  }
  @else if $point == baby-bear{
    @media (min-width: 30em)  { @content; } //= 480px
  }
  @else if $point == little-bear{
    @media (min-width: 25em)  { @content; } //= 400px
  }
}

.post {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 300;
    line-height: 1.25;
    color: #999;
    text-rendering: optimizeLegibility;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    margin-top: 1rem 0;
    font-size: 1.5rem;
  }

  h3 {
    margin: 1.5rem 0;
    font-size: 1.25rem;
  }

  h4, h5, h6 {
    margin-top: 1rem;
    font-size: 1rem;
  }

  /* Body text */

  p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: $bodyColor;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 1.6;
    @include breakpoint (baby-bear){
      font-size: 1.1rem;
      line-height: 1.7;
    }
  }
  em {
    color: $bodyColor;
    // font-weight: 300;
  }

  strong {
    color: $bodyDark;
  }

  /* Lists */

  ul, ol, dl {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

/* Misc */

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
  &[title] {
    cursor: help;
    border-bottom: 1px dotted #e5e5e5;
  }
}

/* Code */

code, pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
  code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
  }
}

.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
  pre {
    margin-bottom: 0;
  }
}

/* Quotes */

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
  p:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 30rem) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

/* Tables */

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) {
  td, th {
    background-color: #f9f9f9;
  }
}

/*
 * Custom type
 *
 * Extend paragraphs with `.lead` for larger introductory text.
 */

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

/*
 * Messages
 *
 * Show alert messages to users. You may add it to single elements like a `<p>`,
 * or to a parent if there are multiple elements to show.
 */

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}

/*
 * Container
 *
 * Center the page content.
 */

.template-container {
  max-width: 43.75rem;
  margin-top: 2em;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;

  min-height: 100%;
  // height: auto !important;
  // height: 100%;
  // margin-bottom: -4em;
}


.page, .post {
  margin-bottom: 0 !important;
}

/* Blog post or page title */

.page-title {
  color: #303030;
}

.post-title {
  color: #888888;
  a {
    color: #888888;
  }
}

.page-title, .post-title {
  margin-top: 0;
}

/* Meta data line below post title */

.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-family: "Open Sans";
  font-weight: 300;
}

/* Related posts */

.related {
  padding-top: 2rem;
  // margin-bottom: 2rem;
  border-top: 1px solid #eee;
}

.related-posts {
  padding-left: 0;
  list-style: none;
  h3 {
    margin-bottom: 0;
    padding: .2em 0;
  }
  li {
    small {
      font-size: 75%;
      color: #999;
    }
    // a:hover {
    //   color: green !important;
    //   text-decoration: none;
    //   small {
    //     color: inherit !important ;
    //   }
    // }
  }
}

/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */

.pagination {
  overflow: hidden;
  /* clearfix */
  margin-left: -1rem;
  margin-right: -1rem;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #ccc;
  text-align: center;
}

/* Pagination items can be `span`s or `a`s */

.pagination-item {
  display: block;
  padding: 1rem;
  border: 1px solid #eee;
  &:first-child {
    margin-bottom: -1px;
  }
}

/* Only provide a hover state for linked pagination items */

a.pagination-item:hover {
  background-color: #f5f5f5;
}

@media (min-width: 30rem) {
  .pagination {
    margin: 3rem 0;
  }
  .pagination-item {
    float: left;
    width: 50%;
    &:first-child {
      margin-bottom: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child {
      margin-left: -1px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}



body {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  // overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #888888;
  letter-spacing: -.025rem;
}

a {
  color: #abd69d;
}


.sidebar-nav-item {
  display: block;
  padding: .5rem 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  &.active {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: transparent;
  }
}


/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */

.page, .post {
  margin-bottom: 4em;
}

/* Blog post or page title */

.page-title {
  color: #303030;
}

.post-title {
  color: #888888;
  a {
    color: #888888;
    text-decoration: none;
  }
}

.page-title, .post-title {
  margin-top: 0;
}

/* Meta data line below post title */

.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

/* Related posts */

.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}

.related-posts {
  padding-left: 0;
  list-style: none;
  h3 {
    margin-top: 0;
  }
  li {
    small {
      font-size: 75%;
      color: #999;
    }
    // a:hover {
    //   color: #268bd2;
    //   text-decoration: none;
    //   small {
    //     color: inherit;
    //   }
    // }
  }
}

/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */

.pagination {
  overflow: hidden;
  /* clearfix */
  margin-left: -1rem;
  margin-right: -1rem;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #ccc;
  text-align: center;
}

/* Pagination items can be `span`s or `a`s */

.pagination-item {
  display: block;
  padding: 1rem;
  border: 1px solid #eee;
  &:first-child {
    margin-bottom: -1px;
  }
}

/* Only provide a hover state for linked pagination items */

a.pagination-item:hover {
  background-color: #f5f5f5;
}

@media (min-width: 30rem) {
  .pagination {
    margin: 3rem 0;
  }
  .pagination-item {
    float: left;
    width: 50%;
    &:first-child {
      margin-bottom: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child {
      margin-left: -1px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}


