%light {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}
%medium {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}
%semi {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
}
%bold {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}


$grey: #999;
$green: #00bf4d;

.custom-wrap {
	h1 {@extend %bold; font-size: 3em; $grey: #999;}
	h2 {@extend %medium; $grey: #999;}
	h3 {@extend %semi; $grey: #999;}
	p  {@extend %medium; $grey: #999;}
	a  {@extend %medium;}
	a  {color: $green;}
}

// ::selection {
//     background: #333;
//     color: #FFF;
// }
 
// ::-webkit-scrollbar {
//     width: 0.5725em;
// }
 
// ::-webkit-scrollbar-track {
//     background:#f2f2f2;
//     border: thin solid #f3f3f3;
//     box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1) inset;
// }
 
// ::-webkit-scrollbar-thumb {
//     background:$green;
//     border: thin solid #f3f3f3;
// }